<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org ">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/form}" th:object="${cliente}" method="post"
					enctype="multipart/form-data">
					<!-- 
			<table class="table table-borderer">
				<tr>
					<td style="width: 200px">Nombre:</td>
					<td><input type="text" th:field="*{nombre}" class="form-control"/></td>
				</tr>
				<tr>
					<td>Apellido:</td>
					<td><input type="text" th:field="*{apellido}" class="form-control"/></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" class="form-control"/></td>
				</tr>
				<tr>
					<td><input type="submit" value="Crear cliente" class="btn btn-primary"/></td>
				</tr>
			</table>
			-->
					<div class="form-group row">
						<label class="col-form-label col-sm-2"
							th:text="#{text.cliente.nombre}">Nombre:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorClass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2"
							th:text="#{text.cliente.apellido}">Apellido:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control"
								th:errorClass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2"
							th:text="#{text.cliente.email}">Email:</label>
						<div class="col-sm-6">
							<input type="email" th:field="*{email}" class="form-control"
								th:errorClass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-sm-2"
							th:text="#{text.cliente.createAt}">Fecha</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{createAt}" class="form-control"
								th:errorClass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="file" class="col-form-label col-sm-2"
							th:text="#{text.cliente.foto}">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
					<!-- 
			<input type="hidden" th:field="*{id}" />
			 -->
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>