<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<div id="i18n_eliminar_factura"
		th:text="#{text.cliente.factura.eliminarOk}" style="display: none;"></div>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ADMIN')" class="btn btn-primary"
						th:href="@{'/factura/form/' + ${cliente.id}}"
						th:text="#{text.cliente.factura.crear}"></a>
				</h4>
				<img th:if="${#strings.length(cliente.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%"
					th:src="@{/uploads/} + ${cliente.foto}" th:alt="${cliente.foto}" />

				<ul class="list-group">
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(cliente.facturas)}"
					class="alert alert-info my-4"
					th:text="#{text.cliente.detalle.no.facturas} + ' ' + ${cliente.nombre} + ' ' + ${cliente.apellido}">
				</div>
				<table th:if="${not #lists.isEmpty(cliente.facturas)}"
					class="table table-striped table bordered my-4">
					<thead class="thead-inverse">
						<tr>
							<th th:text="#{text.cliente.factura.folio}">folio</th>
							<th th:text="#{text.cliente.factura.descripcion}">descripcion</th>
							<th th:text="#{text.cliente.factura.fecha}">fecha</th>
							<th th:text="#{text.cliente.factura.total}">total</th>
							<th th:text="#{text.cliente.factura.detalle}"
								sec:authorize="hasRole('ADMIN')">ver</th>
							<th th:text="#{text.cliente.factura.eliminar}"
								sec:authorize="hasRole('ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.descripcion}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.total}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-primary btn-xs"
								th:href="@{/factura/ver/} + ${factura.id}"
								th:text="#{text.cliente.factura.detalle}"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger btn-xs"
								th:href="@{/factura/eliminar/} + ${factura.id}"
								th:text="#{text.cliente.factura.eliminar}"
								onclick="return confirm(document.getElementById('i18n_eliminar_factura').innerHTML);"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>